.advantages {
  width: 100%;
  background-color: $color-tangaroa;
  background-image: url("../img/advantages.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-top: 120px;
  padding-top: 110px;
  padding-bottom: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/advantages@2x.webp");
  }

  @include vp-1023 {
    background-image: url("../img/advantages-tablet.webp");
    padding-top: 90px;
    padding-bottom: 100px;
    margin-top: 94px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages-tablet@2x.webp");
    }
  }

  @include vp-767 {
    background-image: url("../img/advantages-mobile.webp");
    padding-top: 60px;
    padding-bottom: 65px;
    margin-top: 64px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantages-mobile@2x.webp");
    }
  }
}

.advantages h2 {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 27px;
    margin-bottom: 0;
  }
}

.advantages__list {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;

  @media (max-width: 1160px) {
    justify-content: center;
    width: 1023px;
  }

  @include vp-1023 {
    width: 678px;
    gap: 30px;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: nowrap;
  }

  @include vp-374 {
    width: 290px;
  }
}

.advantages__item {
  width: 360px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 12px;
  background-color: $color-default-white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media (max-width: 1160px) {
    width: 300px;
  }

  @include vp-1023 {
    width: 206px;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 19px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 2px;
  }

  @include vp-374 {
    width: 290px;
  }
}

.advantages__item--dish {
 @include vp-767 {
  padding-top: 29px;
 }
}

.advantages__item--tour {
  @include vp-767 {
   padding-top: 29px;
  }
 }

.advantages__item h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  width: 300px;

  @media (max-width: 1160px) {
    width: 286px;
  }

  @include vp-1023 {
    width: 200px;
  }
}

.advantages__item--ship h3 {
  margin-top: 19px;
}

.advantages__item--dish h3 {
  margin-top: 25px;

  @include vp-767 {
    margin-top: 20px;
  }
}

.advantages__item--tour h3 {
  margin-top: 25px;

  @include vp-767 {
    margin-top: 23px;
  }
}

.advantages__item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @include vp-1023 {
    margin-top: 6px;
    margin-bottom: 0;
  }
}
