.main-nav {
  display: block;
  width: auto;
  position: relative;
  background-color: transparent;
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  @include vp-1023 {
    padding: 0;
    padding-left: 92px;
    margin-top: 11px;
  }

  @include vp-767 {
    justify-content: flex-start;
    background-color: $color-default-white;
    width: 286px;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    //padding-bottom: 288px;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

  }
}

.main-nav__item {
  margin: 0;
  margin-left: 34px;

  @include vp-1023 {
    margin-left: 23px;
  }

  @include vp-767 {
    margin-bottom: 26px;
    margin-left: 26px;
  }
}

.main-nav__item--logo {
  @include vp-767 {
    margin-left: 15px;
    margin-bottom: 34px;
  }
}

.main-nav__link {
  color: $color-alice-blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
  }

  @media screen and (min-width: $vp-1024) {
    &:hover {
      color: $color-tangaroa;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: -22px;
  right: -38px;
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @include vp-767 {
    display: block;
  }
}

.main-nav__overlay {
  position: fixed;
  inset: 0px;
  z-index: 1;
  background-color: $color-grey;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.24, 0.81, 0.2, 0.96) 0s, visibility 0.6s ease 0s;
}

.is-invalid .main-nav__overlay {
  visibility: hidden;
}

.is-invalid .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 14px;
  width: 24px;
  height: 2px;
  background-color: $color-default-white;
  box-shadow: 0 8px 0 0 $color-default-white, 0 16px 0 0 $color-default-white;
}

.is-invalid .main-nav__list {
  @include vp-767 {
    display: none;
  }
}

.is-invalid .main-nav__logo {
  display: none;
}

.is-open .main-nav__overlay {
  visibility: visible;
  opacity: 0.8;
}

.is-open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.is-open .main-nav__logo {
  display: block;
}

.is-open .main-nav__list {
  display: flex;
  height: 100vh;
}

.is-open .main-nav__toggle {
  top: -76px;
  right: 25px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 44px;
    width: 20px;
    height: 2px;
    background-color: $color-grey;
    z-index: 2;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
    top: 108px;
  }

  &::after {
    transform: rotate(-45deg);
    top: 108px;
  }
}

.is-active .main-nav__toggle {
  display: none;
}

.is-active .main-nav__wrapper {
  position: static;
  min-height: 0;
  top: 0;
}

.is-active .main-nav__list {
  display: block;
}
