.page-header {
  background-color: $color-grey;
  background-image: url("../img/Header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/Header-desktop@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/Header-tablet.jpg");
    padding: 0 24px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Header-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/Header.jpg");
    padding: 0 16px;
    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/Header@2x.jpg");
    }
  }
}

.page-header__top {
  margin: 0 auto;
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1160px;

  @media (max-width: 1160px) {
    max-width: 1023px;
  }

  @include vp-1023 {
    margin: 0 auto;
    padding-left: 17px;
    padding-right: 10px;
    padding-top: 15px;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 0;
  }
}

.page-header__intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 800px;

  @include vp-767 {
    margin: auto;
  }
}

.page-header__intro h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  margin-bottom: 12px;
  padding-top: 147px;
  padding-left: 159px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
    padding-top: 158px;
    padding-left: 23px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
    padding-top: 110px;
    padding-left: 0;
  }
}

.page-header__intro p {
  margin: 0;
  color: $color-alice-blue;
  padding-bottom: 283px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  padding-left: 159px;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 273px;
    padding-left: 24px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    padding-left: 0;
    width: 225px;
    padding-bottom: 177px;
  }
}

.page-header__logo-icon-dsk {
  @include vp-1023 {
    display: none;
  }
}

.page-header__logo-icon {
  display: none;

  @include vp-1023 {
    display: block;
  }
}
