.page-footer {
  background-color: $color-tangaroa;
  margin-top: 29px;
  padding-top: 44px;
  padding-bottom: 37px;

  @include vp-1023 {
    margin-top: 96px;
    padding-bottom: 20px;
    padding-top: 32px;
  }

  @include vp-767 {
    margin-top: 50px;
    padding-top: 37px;
  }
}

.page-footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1160px;

  @media (max-width: 1160px) {
    width: 1023px;
  }

  @include vp-1023 {
    width: 678px;
  }

  @include vp-767 {
    width: 290px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__logo {
  @include vp-767 {
    margin-bottom: 30px;
  }
}

.page-footer__logo-icon-dsk {
  @include vp-1023 {
    display: none;
  }
}

.page-footer__logo-icon {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.page-footer__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 920px;
  text-align: left;
  justify-content: flex-start;
  padding-left: 40px;

  @include vp-1023 {
    width: 500px;
    padding-left: 0;
  }

  @include vp-767 {
    width: 290px;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
  }
}

.page-footer__item {
  margin-right: 34px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  @include vp-1023 {
    margin-right: 24px;
    font-size: 12px;
    line-height: 15px;
  }

  @include vp-767 {
    margin: 0;
    margin-bottom: 18px;
  }
}

.page-footer__link {
  color: $color-alice-blue;

  @media screen and (min-width: $vp-1024) {
    &:hover {
      color: $color-grey;
    }
  }
}

.page-footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 232px;
  margin-top: 18px;
  padding: 0;
  padding-right: 2px;

  @include vp-1023 {
    padding-left: 0;
    width: 100px;
  }

  @include vp-767 {
    margin: 0;
    margin-top: 7px;
    justify-content: flex-start;
  }
}

.page-footer__social-item {
  margin-left: 32px;

  @include vp-1023 {
    margin-left: 22px;
  }

  @include vp-767 {
    margin-left: 0;
    margin-right: 24px;
  }
}
