.reservation {
  width: 100%;
  background-color: $color-tangaroa;
  background-image: url("../img/reservation-bck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin-top: 120px;
  padding-top: 47px;
  padding-bottom: 54px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/reservation-bck@2x.jpg");
  }

  @include vp-1023 {
    background-image: url("../img/reservation-bck-tab.jpg");
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-bottom: 102px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reservation-bck-tab@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../img/reservation-bck-mob.jpg");
    margin-top: 64px;
    padding-top: 11px;
    padding-bottom: 65px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reservation-bck-mob@2x.jpg");
    }
  }
}

.reservation__container {
  margin: 0 auto;
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1160px) {
    width: 1023px;
  }


  @include vp-1023 {
    width: 678px;
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    width: 320px;
  }
}

.reservation__description {
  width: 580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  @media (max-width: 1160px) {
    width: 517px;
  }

  @include vp-1023 {
    align-items: center;
    text-align: center;
    padding-top: 35px;
  }

  @include vp-767 {
    width: 320px;
    padding-top: 44px;
  }
}

.reservation__description h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  margin-left: 59px;
  margin-top: 30px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 0;
    font-size: 34px;
    line-height: 51px;
    margin-top: 6px;
    margin-bottom: 5px;
  }

  @include vp-767 {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    width: 194px;
    margin-bottom: 12px;
  }
}

.reservation__description p {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-left: 59px;
  margin-bottom: 33px;
  margin-top: 8px;
  width: 346px;

  @include vp-1023 {
    margin: 0;
    margin-bottom: 54px;
    width: 352px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    width: 277px;
    margin-bottom: 35px;
  }
}

.reservation__content {
  width: 403px;
  margin: 0 auto;
  background-color: $color-tangaroa;
  padding: 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 52px;

  }

  @include vp-767 {
    width: 290px;
    padding: 32px;
  }
}

.reservation__feedback {
  width: 636px;

  @media (max-width: 1160px) {
    width: 550px;
  }

  @include vp-1023 {
    margin: 0 auto;
  }

  @include vp-767 {
    width: 290px;
  }
}

.reservation__content p {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;

  @include vp-1023 {
    margin-left: 5px;
    margin-bottom: 26px;
  }

  @include vp-767 {
    text-align: center;
    line-height: 25px;
    margin-bottom: 32px;
    margin-left: 0;
  }
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__form-container {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.reservation__form-label {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: $color-alice-blue;

  @include vp-767 {
    width: 160px;
    text-align: left;
  }
}

.reservation__form-container--name input,
.reservation__form-container--phone input,
.reservation__form-container--email input {
  width: 303px;

  @include vp-767 {
    width: 230px;
  }
}

.reservation__form-container input {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.reservation__form-container--checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-bottom: 27px;

  @include vp-1023 {
    width: 303px;
    padding-left: 21px;
    margin-bottom: 27px;
  }

  @include vp-767 {
    margin-bottom: 24px;
    padding-left: 29px;
  }
}

.reservation__form-label--checkbox {
  padding-left: 18px;

  @include vp-1023 {
    padding-left: 2px;
    padding-top: 3px;
  }

  @include vp-767 {
    padding-left: 0;
    margin-left: 35px;
  }
}

.reservation__form-container--checkbox input {
  width: 20px;
  display: none;
}

.reservation__form-container--checkbox input + label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: $color-alice-blue;
  top: 0;
  left: -3px;

  @include vp-1023 {
    left: 0;
    top: 2px;
  }

  @include vp-767 {
    top: 2px;
    left: 37px;
  }
}

.reservation__form-container--checkbox input:checked + label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  top: 5px;
  left: 0;

  @include vp-1023 {
    top: 4px;
    left: 3px;
  }

  @include vp-767 {
    top: 7px;
    left: 40px;
  }
}

.reservation__button {
  width: 303px;
  background-color: $color-alice-blue;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 5px;
  cursor: pointer;
  border: none;

  @include vp-1023 {
    padding-top: 12px;
  }

  @include vp-767 {
    width: 230px;
    margin-top: 0;
    margin-bottom: 6px;
  }
}
